<h1 class="heading large">{{ home.title }}</h1>

<h3 class="heading medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

<click>
	<img src="images/angular.png" height="100" />
	<img src="images/gulp.png" height="100" />
	<img src="images/browserify.png" height="100" />
</click>